@font-face {
  font-family: "jetbrains-mono";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("assets/fonts/JetBrainsMono-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "ubuntu-regular";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("assets/fonts/Ubuntu-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    src: local(""),
      url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

@font-face {
    font-family: "Workbench";
    font-style: normal;
    font-weight: 400;
    src: local(""),
      url("assets/fonts/Workbench-Regular.ttf") format("truetype");
    font-display: swap;
}

@font-face {
  font-family: "vt32";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("assets/fonts/VT323-Regular.ttf") format("truetype");
  font-display: swap;
}

.jetbrains-mono {
  font-family: "jetbrains-mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "ubuntu-regular", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.workbench {
    font-family: "Workbench", monospace;
    font-optical-sizing: auto;
    font-variation-settings:
            "BLED" 0,
            "SCAN" 0;
}

.vt32 {
  font-family: "vt32", monospace;
  font-weight: 400;
  font-style: normal;
}
